*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:80%;
    margin: 0 auto;

}

.main-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 5px;
}

.right-section{
    display:flex;
    align-items:center;
}

.right-section ul{
    list-style:none;
    display:flex;
    /* margin-right: 20px; */
}

.right-section ul li{
    margin-right:20px;
}

.right-section ul li a{
    text-decoration:none;
    color:#000;
}

.right-section .navigation{
    border-right: 2px solid #ccc;
}

.road-assistance{
    display:flex;
    padding-left:20px;
}

.road-assistance .icon{
    margin-right:10px;
}

.flex{
    display:flex;
}

#hero-section .text-section {
    width: 45%;
}

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section{
    padding:80px 0;
}

#hero-section .image-section {
    background-image: url(../img/header-image.png);
    background-size:cover;
    background-position:center;
    height:80vh;
}

.text-section h1{
    font-size: 64px;
}

.orange-btn{
    background: #ff6433;
    border-radius:12px;
    padding:16px 40px;
    text-decoration:none;
    font-size:18px;
    margin-top:35px;
    display:inline-block;
    color:#fff;
}

.time-section{
    display:flex;
    align-items:center;
    margin-top: 30px;
}

.text-section .time-text{
    width:95%;
}

.time-section img{
    width:100%;
}

.time-section .image-box{
    width:5%;
    margin-right:10px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.light-grey{
    color:#939191;
}

#quote-section {
    background: #E2E6E9;
    min-height:100vh;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section li{
    margin-bottom:20px;
}

#quote-section .left-section h2{
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box{
    width: 5%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}

#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section a{
    text-decoration: none;
    color: black;
    margin: auto;
}

#quote-section .left-section .text-box h5{
    font-size: 24px;
    margin-bottom:5px;
}

#quote-section .right-form-section h3{
    font-size: 48px;
    margin-bottom: 30px;
}

#quote-section .right-form-section input{
    width:100%;
    padding:10px;
    margin-top: 20px;
}

.flex-arrow{
    display:flex;
} 

#quote-section .left-section .text-arrow{
    padding-right:8px;
    margin-left:38px;
}
.arrow{
    padding-top: 8px;
}

/* #process-section{
    min-height:100vh;
} */

#process-section .left-side, #process-section .right-side{
    width: 45%;
}

#process-section .left-side h2{
    margin-bottom: 30px;
    font-size: 58px;
    padding-top: 20px;
}

#process-section .left-side p{
    font-size:16px;
    color: #1E1B1B;
    opacity: 0.6;
}

#process-section .left-side{
    padding:80px;
}

.orange-btn{
    background: #ff6433;
    border-radius:12px;
    padding:16px 40px;
    text-decoration:none;
    font-size:18px;
    margin-top:35px;
    display:inline-block;
    color:#fff;
}

.right-side{
    padding-top:80px;
    padding-left: 0px;

}

.main-holder{
    padding-left: 20px;
    display:flex;
    width:100%;
}

.number img{
    width:50px;
    margin: 8px;
    padding-top: 10px;
}

.vline{
    width:2%;
    height:55px;
    border-right: 3px dotted #FF6433;
    margin:0 auto;
}

.text-quote{
    width:50%;
    margin-right:20px;
    padding-top:22px;
}

.text-quote #text-quote {
    font-size: 32px;
    padding-bottom: 10px;
}

.light-grey{
    font-size:18px;
}

#service-section {
    padding: 80px 0;
    background: #E2E6E9;
    min-height: 100vh;
}

#service-section h2, #service-section h5 {
    text-align: center;
}

#service-section .service-box{
    background: #fff;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24%;
    margin-bottom: 12px;
}

.justify-between {
    justify-content: space-between;
}

#service-section .service {
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 15px;
}

#service-section .service .service-box:hover {
    background: #FF6433;
    color: #fff;
}

.text-arrow a{
    text-decoration:none;
    color:black;
    display:flex;
}

.text-arrow p{
    padding-right:8px;
}

.text-arrow{
    display:flex;
    justify-content:flex-end;
}

/* .flex-arrow-2{
    display:flex;
    justify-content:flex-end;
    padding-bottom:50px;
    padding-right:215px;
    padding-top: 10px;
} 
    */
 /* #service-section {
    background: #E2E6E9;
    min-height:100vh;
}

#service-section .head{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-top:60px;
}

#service-section .head p{
    font-size:24px;
    padding-bottom:5px;
}

#service-section .head h2{
    font-size:58px;
    width:65%;
    text-align:center;
}

.text-arrow a{
    text-decoration:none;
    color:black;
    display:flex;
}

.text-arrow p{
    padding-right:8px;
}

.text-arrow{
    display:flex;
    justify-content:flex-end;
    padding-right:210px;
}

.flex-arrow-2{
    display:flex;
    justify-content:flex-end;
    padding-bottom:50px;
    padding-right:215px;
    padding-top: 10px;
} 

.bottom{
    display:flex;
    justify-content:center;
    padding-bottom:2px;
    margin-top:10px;
}

.bottom-b{
    display:flex;
    justify-content:center;
    padding-bottom:10px;
    margin-top:4px;
}

.box p{
  margin: 0 auto;
  padding-right:10px;
}

.bottom-b .box-2 p{
    padding-left: 8px;
}

.bottom-b .box img{
    padding-right:16px;
}

.bottom-b .box p{
    padding-left:8px;
}

.bottom-b .box-2 img{
    padding-left:14px;
}

.bottom-b .box-3 img{
    padding-left:24px;
}

.bottom-b .box-3 p{
    padding-right:30px;
}

.bottom-b .box-4 p{
    padding-right:24px;
}

.bottom .box-4 p{
    padding-left:10px;
}

.box img{
    padding-left:16px; 
    margin: 0 auto;
}

.bottom .box-2 img{
    margin: 0 auto;
    padding-left:16px;
  }

.bottom .box-3 img{
    margin: 0 auto;
    padding-left:16px;
}

.box-4 img{
    margin: 0 auto;
    padding-left:18px;
  }

.box{
    background:white;
    width:16%;
   padding: 26px 0px 26px 54px;
   align-items:center;
   margin: 0px 4px 0px 0px;
}

.box-2{
    background:white;
    width:16%;
    padding: 30px 0px 30px 54px;
    align-items:center;
    margin: 0px 4px 0px 0px;
}

.box-3{
    background:white;
    width:16%;
    padding: 30px 0px 30px 54px;
    align-items:center;
    margin: 0px 4px 0px 0px;
}

.bottom-b .box-3{
    background:white;
    width:16%;
    padding: 30px 0px 30px 54px;
    align-items:center;
    margin: 0px 4px 0px 0px;
}

.box-4{
    background:white;
    width:16%;
    padding: 30px 0px 30px 54px;
    align-items:center;
}

.bottom :hover{
    background:#FF6433;
    color:white;
}

.bottom-b :hover{
    background:#FF6433;
    color:white;
} */

#tools-section{
    height:500px;
    display:flex;
}

#tools-section .car-section{
    width:20%;
    height:500px;
    background: url(../img/backcar.png) no-repeat center;
    background-size:cover;
    background-position:left;
}

#tools-section .orange-section{
    width:40%;
    background:#ff6433;
    height:500px;
    padding-left: 50px;;
}

#tools-section .orange-section .orange-text p{
    font-size:48px;
    color:#fff;
}

#tools-section .orange-section .orange-text a{
    width:35%;
}

#tools-section .orange-section .orange-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top:80px;
}

.black-btn{
    background: black;
    border-radius:12px;
    padding:16px 40px;
    text-decoration:none;
    font-size:18px;
    margin-top:35px;
    color:#fff;
}

#tools-section .engine-section{
    width:40%;
    height:500px;
    background: url(../img/engine.png) no-repeat center;
    background-size:cover;
    background-position:right;
}

#rating-section{
    background: #E2E6E9;
}

#rating-section .ratings{
    width:100%;
    padding-left:220px;
    padding-top:60px;
    padding-bottom:60px;
}

#rating-section .ratings{
    display:flex;
    justify-content:center;
    gap: 150px;
  
}

#rating-section .ratings p{
    font-size: 18px;
}

#rating-section .ratings img{
    width: 50%;
}

#rating-section .ratings .exp img{
    width:40%;
}

#brand-section .brand-title{
    display: flex;
    justify-content:center;
    padding-top: 80px;
    font-size: 48px;
}

#brand-section .brand-list{
    display: flex;
    justify-content:center;
}

#review-section {
    background: #f2f2f2;
    min-height:100vh;
    padding:80px 0;
}

#review-section .review-slider {
    display: flex;
    /* justify-content:space-between; */
    gap:18px;
    margin:30px 0;
}

#review-section .review-slide {
    width:50%;
    height: 280px;
    background: #fff;
    border: 1px solid rgba(172, 172, 172, 0.29);
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    padding-left: 30px;
    padding-top: 30px;
}

#review-section .review-person {
    display:flex;
    align-items:center;
    gap: 10px;
}

#review-section .review p{
    width: 90%;
    font-size: 24px;
    padding-top: 10px;
}

#review-section h3 {
    text-align:center;
    margin-bottom: 20px;
    font-size: 48px;
}

/* #review-section h3{
    text-align: center;
    font-size:48px;
    padding-bottom:40px;
    width:60%;
   margin: 0 auto;
}

#review-section .reviews .reviews-box{
    background: #fff;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:15px;
    width:50%;
} */

#review-section .scroll .scroll-box:hover{
    background: #FF6433;
    color:white;
}

.nav{
    display:flex;
    justify-content: flex-end;
    gap:4px;
}

.nav img {
    width: 70%;
}

#review-section .scroll{
    display:flex;
    justify-content:center;
    gap:4px;
}

.scrolling {
   display : flex;
   justify-content: flex-end;
   gap: 400px;
   align-items:center;
}
    
#faq-section {
    background: #E2E6E9;
    min-height:100vh;
    padding:80px 0;
}

#faq-section h2{
    text-align:center;
    margin-bottom: 50px;
}

#faq-section .faq-main-box{
    width:60%;
    min-height:500px;
    margin:0 auto;

}

#faq-section .faq-main-box .faq-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

#faq-section .faq-main-box .faq-box .faq-control h1{
    background: #ff6433;
    width:48px;
    height: 48px;
    display: flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-weight: 900;
    cursor: pointer;
}

.faq-box .header-section h4 {
    font-weight:600px;
    font-size:24px;
}

.faq-box .header-section {
    display: flex;
    justify-content: space-between;
}

.faq-box .answer-section {
    padding-top: 10px;
}

.faq-box .answer-section .answer-box {
    width: 80%;
}

.faq-box .answer-section .answer-box p {
    font-size:18px;
    color:#939191; 
}

/* .faq-container p{
    padding:0px 20px 20px 20px; 
    width:90%;
    font-size:18px;
    color:#939191;
} */

/* .faq-container{
    width:80%;
  margin: 0 auto;
    display:flex;
    flex-direction:column;
} */

/* .faq-container .faq-box-active .first-row{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.faq-container .faq-box-active .first-row h5{
    font-size:24px;
}

.faq-container .faq-box-active .first-row img{
    width:5%;
}

/* .faq-container .faq-box{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.faq-container .faq-box img{
    width:5%;
    height:50%;
}


#faq-section .faq-container .faq-box-active {
    background: #fff;
    height:150px;
    width:50%;
    margin:0 auto;
    margin-bottom:15px;
}

.faq-container .faq-box h5{
    font-size:24px;
} */

#footer-section{
    background: #1e1b1b;
    opacity: 98%;
    padding:80px 0;
}

#footer-section h3{
    color:white;
    font-size:48px;
    padding-bottom:40px;
}

#footer-section .handles{
    display:flex;
    gap:20px;
}

#footer-section .social-media{
    padding-left:100px;
}

#footer-section .address .first{
    color:white;
    padding-bottom:30px;
}

#footer-section .address .first h5{
    font-size:18px;
    opacity:60%;
}

#footer-section .address .first p{
    font-size: 24px;
}

#footer-section .footer{
    display:flex;
    gap:100px;
}

#footer-section .address{
    padding-top:10px;
}

#copyright-section{
    background: #1e1b1b;
}

#copyright-section .main-footer{
    display:flex;
    padding:20px 100px;
    justify-content:space-between;
}

#copyright-section .main-footer .copyright{
    padding-top:8px;
    color:white;
}

#copyright-section .right{
    display:flex;
    align-items:center;
}

#copyright-section .right ul{
    list-style:none;
    display:flex;
    gap:20px;
}

#copyright .right ul li{
    margin-right:20px;
}

.right ul li a{
    text-decoration:none;
    color:white;
}


html, body {
    overflow-x: hidden !important;
}


@media (max-width: 426px) {
    .main-header {
        flex-direction:column;
        align-items:flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation ul {
        flex-direction: column;

    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding:10px 0;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    #hero-section .text-section, #hero-section .image-section{
        width:100%;
    }

    #hero-section .text-section {
        order: 2;
    }

    #hero-section .image-section {
        order: 1;
    }

    .text-section h1 {
        font-size: 35px;
    }

    #quote-section .left-section, #quote-section .right-form-section {
        width: 100%;
    }

    #quote-section .left-section .image-box {
        width: 10%;
    }

    #quote-section .left-section .text-box {
        width: 80%;
    }
    #quote-section .left-section h2, #quote-section .right-form-section h3 {
        font-size: 35px;
    }

    #quote-section .left-section {
        margin-bottom: 40px;
    }

    #process-section .left-side, #process-section .right-side {
        width: 100%;
        padding:0;
    }

    #process-section .right-side {
        padding: 40px 0px 80px 0px;
    }

    #process-section .right-side .main-holder {
        padding-left: 0px;
    }

    #process-section .left-side h2 {
        width:100%;
    }

    #process-section .left-side p {
        width: 100%;

    }

     #process-section .left-side {
        margin-bottom: 20px;
    }

    #process-section .right-side {
        padding-top: 0;
        padding-bottom: 80px;
    }

    #service-section .bottom {
        width: 100%;
    }

    #service-section .service .service-box {
    width: 100%;
}

    #tools-section {
    flex-direction: column;
    }

    #tools-section .car-section, #tools-section .orange-section, #tools-section .engine-section {
    width: 100%;
    }

    #tools-section .orange-section {
        height: 75%;
        padding-left: 30px;
    } 

    #tools-section .orange-section .orange-text {
        padding-top: 40px;
    }

    #tools-section .orange-section .orange-text p {
        font-size: 35px;
    }
    
    #tools-section .orange-section .orange-text a{
        width : 45%;
    }

    #tools-section .orange-section .black-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #rating-section .ratings {
        flex-direction: column;
        padding-left: 125px;
        gap: 80px;
        padding-top: 40px;
    }

    #rating-section .ratings img {
        width: 25%;
    }
    #rating-section .ratings .exp img {
        width: 25%;
    }

    #brand-section .brand-list {
        flex-direction: column;
        align-items: center;
    }

    #brand-section .brand-title {
        font-size: 35px;
    }

    #review-section h3 {
        font-size: 35px;
    }

    #review-section .review-slider {
        flex-direction: column;
    }

    #review-section .review-slide{
        width: 100%;
        height: 100%;
    }

    #review-section .review-slide .review {
        padding-bottom: 20px;
        font-size:18px;
    }

    #faq-section .faq-main-box{
        width: 100%;
    }
    .faq-box .answer-section .answer-box {
       width: 90%;
    }

    #footer-section .footer {
        flex-direction: column;
    }

    #footer-section h3 {
        font-size: 35px;
    }

    #footer-section .social-media {
        padding-left: 0px;
        width : 100%;
    }

    #copyright-section .main-footer {
        padding:0;
        padding-top: 20px;
        padding-bottom: 20px;
        margin:auto;
    }

     #copyright-section .main-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    #copyright-section .main-footer img {
        padding-bottom: 10px;
    }
}


    /* @media (min-width: 481px) and (max -width: 769px) { */
@media (max-width: 769px) and (min-width: 427px) {
    .container{
        width:90%;
    }

    .road-assistance{
        display:none;
    }

    .text-section h1, #quote-section .left-section h2, #quote-section .right-form-section h3, #quote-section,
    #process-section .left-section h2 {
        font-size: 35px;
    }

    #quote-section .left-section .image-box {
        width: 15%;
    }

    #quote-section .left-section .text-box {
        width: 100%;
    }

    #quote-section .left-section .text-box p{
        font-size: 18px;
    }

    #quote-section .left-section .arrow {
        padding-top:0;
        padding-bottom: 10px;
    }

    #quote-section .left-section .text-arrow a {
        font-size: 18px;
    }

    #process-section .right-side {
        width: 48%;
        padding-bottom: 40px;
    }

    #process-section .right-side .image-section {
        width:15%;
    }

    #process-section .right-side .text-section h2 {
        padding-top: 0;
    }

    #process-section .left-side {
        padding:0;
        padding-top: 80px;
        padding-left: 20px;
        width: 42%;
    } 

    #process-section .left-side h2 {
        font-size:35px;
    }

    #tools-section .orange-section .orange-text p{
        font-size:42px;
        padding-left: 0;
        padding-right: 20px;
    }

    #tools-section .orange-section .orange-text a {
        width: 60%;
    }

    #tools-section .orange-section {
        width: 45%;
    }

    #rating-section .ratings {
        display:flex;
        gap: 30px;
        padding-left: 40px;
        padding-right: 30px;
        width: 100%;
    }

    #rating-section .ratings .exp {
        width: 60%;
    }

    #rating-section .ratings .prof {
        width:60%;
    }

    #rating-section .ratings .closed {
        width:60%;
    }

    #rating-section .ratings .customer {
        width:70%;
    }

    #service-section .services .service-box {
        width: 32%;
    }

    #brand-section .holder .brand-list img { 
        width: 85%;
    }

    #brand-section .holder .brand-title{
        font-size:35px;
        padding:0;
        padding-top:40px;
    }

    #review-section h3 {
        font-size: 35px;
    }

    #review-section .review-slide {
        height: 250px;
    }

    #review-section .review-slide .review p {
        font-size: 18px;
    }

    #review-section .scrolling {
        display:flex;
        justify-content: flex-end;
        gap:150px;
    }

    #review-section .nav {
        padding:0;
    }

    #faq-section .faq-main-box {
        width:90%;
    }

    #footer-section .social-media {
        padding:0;
        padding-left:30px;
    }

    #footer-section .social-media h3 {
        font-size: 40px;
    }

    #copyright-section .main-footer {
        padding:0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
     
}